@model FootBallPlayer.ViewModels.MediaDetailsViewModel
@using FootBallPlayer.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}
@using Microsoft.AspNet.Identity


<div style="margin: 30px 10% 10% 10%;
    
    text-align: center;
    
    position: relative;    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);">

    <dl class="dl-horizontal">
        <h3 style="color:red;text-align:center;padding-top:15px">Title</h3>
        <img src="~/Files/ArticlesMedia/@Model.Article.CoverPhoto" height="200px" width="100%" />



        <dd style="padding:20px;margin-left:0">
            @Html.DisplayFor(model => model.Article.Text)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Article.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.PublishDate)
        </dd>





    </dl>
    <hr />
    <br />
    <p style="color:red">
        @*@if (User.IsInRole("Admin") || Model.V ==User.Identity.GetUserId()) {
              @Html.ActionLink("Edit", "Edit", new { id = Model.Article.ArticleId })
            } |*@

        @Html.ActionLink("Back to List", "Index")
    </p>
    <br />
</div>

<div style=" box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    text-align: center;
    position: relative;margin: 30px 10% 10% 10%">
    <h3 style="color:red ;text-align:center">Comment</h3>
    @Html.Action("Create", "Comments", new Comment { MediaId = Model.VideoId, MediaType = 1 })
    @foreach (var item in Model.Comments)
    {
        <div class="col-md-4">
            @item.Text
        </div>
    }
</div>