@model  FootBallPlayer.ViewModels.ArticleVideoModel

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{



<button data-toggle="modal" data-target="#myModal" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent" data-upgraded=",MaterialButton,MaterialRipple" style="margin-right:0;    right: 0;
    position: absolute;
    margin: 20px;">
    <a href="~/Articles/Create/@Model.PlayerId">
        <i class="material-icons mdl-color-text--white" role="presentation">add</i>

    </a>
  

</button>
}

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.PlayerId })
</p>
<div class="row" style="margin:10px;  
    margin: 60px 40px 0 40px;">
    @foreach (var i in Model.Articles)
    {

    <div class="col-md-4" style="padding:10px ; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 2px 2px -1px rgba(0,0,0,.2)">
        <a href="~/Articles/Details/@i.ArticleId">
            <h3 style="color:red;text-align:center;margin-top:-3px">Title</h3></a>
            <img src="~/Files/ArticlesMedia/@i.CoverPhoto" style="height:300px; width:100%" />
            

            <h4 style="text-align:center">Publisher <p style="color:red;width:100%;text-align:center">@Html.DisplayFor(modelItem => i.Visiter.YourName)</p> </h4>

            <div style="height:220px;overflow:hidden;width:100%;text-align:center;font-family:sans-serif">
                @Html.DisplayFor(modelItem => i.Player.FullName)

                @Html.DisplayFor(modelItem => i.Text)


            </div>
            <hr />
            <h4 style="text-align:center">Publich Date <p style="color:red;text-align:center">@Html.DisplayFor(modelItem => i.PublishDate)</p> </h4>





</div>
  


    @*@Html.ActionLink("Edit", "Edit", new { id = i.ArticleId }) |
        @Html.ActionLink("Details", "Details", new { id = i.ArticleId }) |
        @Html.ActionLink("Delete", "Delete", new { id = i.ArticleId })*@

}
    </div>



