@model FootBallPlayer.ViewModels.MediaDetailsViewModel
@using FootBallPlayer.Models

@{
    ViewBag.Title = "VideoDetails";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}

<style>
    header {
        position: absolute;
        width: inherit;
    }

    .eltdf-fullscreen-menu-opener, .eltdf-fullscreen-menu-opener .eltdf-fm-lines {
        color: #d7dfe8;
    }
</style>


<section class="menu cid-qv1frvgcz3" once="menu" id="menu1-5g" data-rv-view="10975"></section>

<section class="engine"><a href="https://mobirise.co/i">how to build a website for free</a></section>
<section class="header11 cid-qv5CFv5hOn" id="header11-5f" data-rv-view="10937">

    <!-- Block parameters controls (Blue "Gear" panel) -->
    <!-- End block parameters -->

    <div class="container align-left">
        <div class="media-container-column mbr-white col-md-12">

            <h1 style="text-align:center" class="mbr-section-title py-3 mbr-fonts-style display-1">Player Videos</h1>


        </div>
    </div>
</section>

<section class="mbr-gallery mbr-slider-carousel cid-qvz0cgxPXY" id="gallery3-bl" data-rv-view="10940" style="">
    <div class="row">
      
                <div class="col-md-7" style=" box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2) ;margin-bottom:5%;padding:10px">


                    <h3 style="color:red ;text-align:center">Title</h3>

                    <iframe width="560" height="315" src="@Model.Video.Url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div style="   ;padding:10px;font-family:cursive">
                        <p>@Model.Video.Discribtion</p>
                    </div>

                </div>



                <div class="col-md-3" style="">
                    <h3 style="color:red ;text-align:center">Comment</h3>
                    @Html.Action("Create", "Comments", new Comment { MediaId = Model.VideoId, MediaType = 1 })
                    @foreach (var item in Model.Comments)
                {
                    <div class="col-md-2">
                        @item.Text
                    </div>
            }
                </div>
                </div>
</section>
@*<div class="col-md-12" style="text-align:center;margin-top:20px">
        <p>

            @Html.ActionLink("Back to List", "Videos", new { id = Model.PlayerId })
        </p>
    </div>*@

    
<section once="" class="cid-qvFIPBwcDt" id="footer6-c6" data-rv-view="11032">

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2017 <a href="index.html" class="text-white">Free Bootstrap Templates</a> - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>
    

